#
# Hey! Everything in here is better suited to httpd.conf, since
# we get a performance boost if we can turn off AllowOverride and
# not have to stat the webroot for every request. On the other
# hand, this measn we never have to touch apache once it's up.
# Flexibility over performance.
#
# In an ideal world, you'd stick it in here on dev and your build
# system would bundle the changes into (a file incldued in) httpd.conf
# for your production deployment. Yeah. Do that.
#

Order Allow,Deny
Allow from all
Deny from none

FileETag none

php_flag display_errors on

php_value magic_quotes_gpc 0
php_value register_globals 0
php_value magic_quotes_runtime 0
php_value track_errors 1
php_value last_modified off
php_value short_tags on
php_value error_reporting 2147483639

DirectoryIndex index.php

ErrorDocument	404 /404.php

RewriteEngine on
RewriteBase /

# index.php is taken care by the directory index

RewriteRule ^invite/?$						invite.php?%{QUERY_STRING} [L]
RewriteRule ^invite(?:/([^/]+))?/?$				invite.php?code=$1&%{QUERY_STRING} [L]

RewriteRule ^signin/?$						signin_flickr_flickrauth.php?%{QUERY_STRING} [L]

RewriteRule ^signout/?$						signout.php?%{QUERY_STRING} [L]
RewriteRule ^checkcookie/?$					checkcookie.php?%{QUERY_STRING} [L]

RewriteRule ^auth/?$						auth_callback_flickr_flickrauth.php?%{QUERY_STRING} [L]

RewriteRule ^photos/?$						photos.php?%{QUERY_STRING} [L]
RewriteRule ^photos/data/?$					photos_json.php?%{QUERY_STRING} [L]

RewriteRule ^places(/(\d+))?/?$					photos_places.php?woeid=$2&%{QUERY_STRING} [L]

RewriteRule ^photos/commons/?$					photos_commons.php?%{QUERY_STRING} [L]
RewriteRule ^photos/commons/subscribe/?$			subscribe.php?topic=commons&%{QUERY_STRING} [L]
RewriteRule ^photos/commons/data/?$				photos_json.php?topic=commons&%{QUERY_STRING} [L]

RewriteRule ^photos/friends/?$					photos_friends.php?%{QUERY_STRING} [L]
RewriteRule ^photos/friends/subscribe/?$			subscribe.php?topic=contacts_photos&%{QUERY_STRING} [L]
RewriteRule ^photos/friends/data/?$				photos_json.php?topic=contacts_photos&%{QUERY_STRING} [L]

RewriteRule ^faves/friends/?$					faves_friends.php?%{QUERY_STRING} [L]
RewriteRule ^faves/friends/data/?$				photos_json.php?topic=contacts_faves&%{QUERY_STRING} [L]
RewriteRule ^faves/friends/subscribe/?$				subscribe.php?topic=contacts_faves&%{QUERY_STRING} [L]

RewriteRule ^photosof/friends/?$				photosof_friends.php?%{QUERY_STRING} [L]
RewriteRule ^photosof/friends/subscribe/?$			subscribe.php?topic=photos_of_contacts&%{QUERY_STRING} [L]
RewriteRule ^photosof/friends/data/?$				photos_json.php?topic=photos_of_contacts&%{QUERY_STRING} [L]

RewriteRule ^push/([^/]+)/?$					push.php?secret_url=$1&%{QUERY_STRING} [L]

RewriteRule ^about/?$						about.php?%{QUERY_STRING} [L]
