body {
    margin: 0px;
    padding:0 px;
    font-family:sans-serif;
    background-color:#fff;
}

a {
	color:#000;
}

a:hover {
    text-decoration:underline;
    color:#2B547E;
}

#banner {
    position:absolute;
    bottom:20%;
    left:22%;
    color:#fff;
    font-size:6em;
    font-weight:700;
    text-shadow: 2px 2px #000;
    background-image:url(/images/dot.gif);
    padding:20px;
}

p {
    line-height:1.5em;
}

#nav {
	font-size:11px;
	text-align:right;
	position:fixed;
	top:0;
	right: 0;
	background-color:#fff;
	line-height:1em;
	padding:30px;
}

#foot {
	font-size:11px;
	text-align:right;
	position:fixed;
	bottom:0;
	right: 0;
	background-color:#fff;
	line-height:1em;
	padding:30px;
	opacity:.7;
}

input {
    border: solid thin;
    padding: 10px;
    font-size:14pt;
    font-weight:700;
}

input[type='submit'] {
    padding:9px;
}

#photo_wrapper {
	margin:0;
	padding:0;
	background-color:#000;
	height:100%;
	width:100%;
}

img {
	margin:0;
	padding:0;
	border:none;
}

#message_wrapper{
    color:#fff;
    opacity:.7;
    /* font-size:200px; */
    font-weight:700;
    position:absolute;
    top:0px;
    left:0px;
    margin:0px;
    overflow:hidden;
    text-shadow: 2px 2px #666;
    height:100%;
    width:100%;

}

#message a {
    text-decoration: none;
    color:#fff;
}

#notphotos {
	margin: 10%;
}

form {
	margin:5%;
	margin-left:20%;
}

.caveat {
	font-size:11px;
	color:#ccc;
}

.error {
	font-style: italic;
	font-weight: 700;
	color: #991111;
}

#subscriptions {
    margin-left: 5%;
}

#subscriptions th {
    text-align:left;
    padding:15px;
    padding-left:0px;
    padding-bottom:5px;
    color:#999;
    border-bottom:1px solid #999;
}

#subscriptions td {
    padding:10px;
    padding-left:0px;
    padding-right:30px;
}