body {
    margin: 0px;
    padding:0 px;
    font-family:sans-serif;
    background-color:#fff;
}

a {
	color:#000;
	text-decoration:none;
}

a:hover {
    text-decoration:underline;
    color:#2B547E;
}

#header {
	font-size:11px;
	text-align:right;
	position:fixed;
	bottom:0;
	left:50%;
	background-color:#fff;
	line-height:1em;
	width:50%;
}

#header_stuff {
    	border-top: solid thin;
	margin-top:10px;
	padding:20px;
}

#header a {
	color: #666;
	text-decoration: none;
}

#container {
position:fixed;
top:0;
left: 0;
height:100%;
width:48%;
border-right: 3px solid #000;
}

#map {
height:100%;
//background-color: #666;
background-image: url(/images/dot.gif);
}

#details {
position:absolute;
top:0;
left:50%;
margin-left:2%;
margin-right:5%;
font-size: .8em;
padding-top:23px;
padding-bottom:10%;;
font-size:1.3em;
line-height:1.5em;
background-color:#fff;
width:44%;
max-width:44%;
}

h2 {
    padding:0;
    margin-top:5px;
    margin-bottom:0px;

}

h3 {
    padding:0;
    margin-top:5px;
    margin-bottom:20px;
    font-size:.6em;
}

h4 {
    margin: 0;
    margin-bottom:10px;
    background-color:#ccc;
    padding:5px;
}

ul {
    margin:0px;
    margin-bottom:20px;
    padding: 0px;
}

li {
	list-style: none;
}

ol {
    margin:0px;
    padding: 0px;
}

ol li:before {
	content: counter(item) ".  ";
	counter-increment: item;
	color: #ccc;
}

#bldg_photos {
    display:none;
    margin-bottom:20px;
}

#flickr_photos {
    padding-top:10px;
}

#flickr_photos img {
	border:none;
	margin-bottom:15px;
	margin-right:15px;
}

#bldg_random {
	margin-top:20%;
	font-size:.8em;
}

.bldg_isin {
	font-style:italic;
	font-size:11px;
	margin-left:5%;
}

.bldg_id {
	font-weight: 700;
}

#bldg_nodes ul {
    
}

#bldg_nodes ul li {
	display:inline;
}

#bldg_nearby ul li {
	display:block;
}

#pagination {
	margin-top:30px;
	margin-left:0;
	text-align:center;
	width:100%:
}

.disabled {
    color: #ccc;
}

#search_form{
    margin-top: 15%;
    margin-bottom: 5%;
}

#search_form p {
    margin-top:40px;
	font-size: 11px;
	line-height: 16px;
	width:80%;
	font-style:italic;
	color:#666;
}

input {
    border: solid thin;
    padding: 10px;
    font-size:14pt;
    font-weight:700;
}

input[type='submit'] {
    padding:9px;
}

#photo_wrapper {
	margin:0;
	padding:0;
	background-color:#000;
}

img {
	margin:0;
	padding:0;
	border:none;
}

#message_wrapper{
color:#fff;
opacity:.7;
font-size:225px;
font-weight:700;
position:absolute;
top:0px;
left:0px;
margin:20px;
overflow:hidden;
text-shadow: 2px 2px #666;
}

#message a {
text-decoration: none;
color:#fff;
}
